.Main{

    background: rgb(26, 22, 62);
    size: 100%;
}

.containerbtn{
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  height: 5vh; /* Optional: centers in the full viewport height for demonstration */
  background-color: aqua;
}

.my-btn {
  background-color: #04AA6D; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
}






#envelopesContainer {
    display: flex;          /* enables flex layout */
    flex-wrap: wrap;        /* allows items to move to next line */
    gap: 10px;              /* spacing between envelopes */
    margin-top: 20px;
}

#envelopesContainer .card {
    flex: 1 1 200px;        /* grow/shrink and min width */
    max-width: 250px;       /* optional max width */
}
.addenv {
    display: flex;               /* enables flexbox */
    justify-content: center;     /* centers horizontally */
    margin-top: 20px;            /* optional spacing from top */
    margin-bottom: 20px;
}
